
body {
    background-image: url('mcfart.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

p {

    color: white;
    font-family: Comic Sans MS;
}

img:nth-of-type(1) {
    position: absolute;
    left: 450px;
    height: 580px;
    margin-top: -120px;
}



img:nth-of-type(2) {
    position: absolute;
    left: 20px;
    height: 1000px;
}

img:nth-of-type(3) {
    position: absolute;
    left: 10px;
    height: 1071px;
}



button:nth-of-type(1) {
    background-color: transparent;
    border-color: transparent;
    font-family: Comic Sans MS;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    font-size: 50px;
    margin-top: -14px;
    left: 20px;
}

button:nth-of-type(1):hover {
    padding: 5px 20px;
    font-size: 45px;
    color: red;
    position: absolute;
    margin-top: -13px;
    left: 20px;
}

/* p tags */

p:nth-of-type(1) {
    font-size: 32px;
    position: absolute;
    margin-top: 500px;
    left: 580px;
}

p:nth-of-type(2) {
    font-size: 15px;
    position: absolute;
    margin-top: 600px;
    left: 580px;
}
